<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrivacyURL</key>
	<string>https://www.privacypolicies.com/live/e5082ad3-aa9c-4307-9329-d5d333917e4b</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>WelcomeMail</key>
	<string>嗨，歡迎你來到這裡，首先想謝謝你把時間留給自己。

這裡是一個專注在捕捉個人學習的地方，每個使用者，都是一隻 Vini，你可以在成長頁面開啟自己近期想要累積的成長項目，並且能在每一張成長卡片裡面，新增微小學習卡片、瀏覽過去的成長累積歷程，當你發現你對你的成長項目有了新的觀點或是結論，你可以封存整個成長項目，更坦然地邁向下一個成長。對了，我在封存的按鈕上偷偷施了一些魔法，請好好紀錄下你的微小學習，然後試著封存你的第一個成長項目吧！

另外，你也可以在探索頁面中，從不同的雲層，看見平台上不同的使用者們在在探尋些什麼，並且分享你的經驗或觀點給他。當然，你也可以選一個最符合你現況的雲層，在裡面公開提出你最近在思考的事情或個人最近的狀態。

到了每天晚上的反思時段，你可以體驗 Vini 為你準備的幾個反思題目，也可以在這段時間，前往信箱查看其他使用者寄給你的信件，如果你能從中得到啟發，那就太好了！

期待你能在生活中捕捉到那些意想不到、但又讓你能不斷向前的微小學習。現在就去開啟自己的成長項目吧！</string>
</dict>
</plist>
